.header {
    /* background: #000; */
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    width: 1512px;
    height: 100px;
}

.header__logo {
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.12px;
    text-align: center;
}
